# 作業一

有一個金融業客戶流失紀錄的資料集

https://github.com/ywchiu/cathaylifepy/raw/master/data/customer_data.tsv

資料是以tab 分隔，包含以下欄位

|欄位名稱|中文敘述|
|----------|----|
|CustomerId|客戶ID|
|Surname|姓氏| 
|CreditScore|信用分數| 
|Gender|性別| 
|Age|年紀| 
|Tenure|年資|
|Balance|餘額| 
|NumOfProducts|購買多少產品| 
|HasCrCard|是否有信用卡| 
|IsActiveMember|是否為活耀客戶|
|EstimatedSalary|預估薪資| 
|Exited|是否流失|

1. 請試用python 計算在這文檔中有多少客戶(CustomerID)?
2. 請算出所有客戶平均信用分數(CreditScore)?
3. 請找出客戶姓氏(Surname)為H開頭的客戶擁有信用卡(HasCrCard == 1)的客戶數?
4. 請計算客戶流失比例(Exited == 1 對上 客戶總數)?
5. 請計算男性與女性(Gender)的平均薪資(Estimated Salary)?

## 答案一

In [2]:
k = 0 
with open('/Users/davidchiu/Desktop/customer_data.tsv', 'r') as f:
    for l in f.readlines():
        k += 1
k - 1

10000

In [6]:
ary = []
for l in open('/Users/davidchiu/Desktop/customer_data.tsv'):
    ary.append(l)
len(ary) - 1

10000

In [4]:
line_count = len([l for l in open('/Users/davidchiu/Desktop/customer_data.tsv')])
line_count - 1

10000

## 答案二

In [19]:
ary = []
with open('/Users/davidchiu/Desktop/customer_data.tsv', 'r') as f:
    for l in f.readlines():
        #print(repr(l) )
        ary.append(l.strip().split('\t')[3])
sum([int(l) for l in ary[1:]])
#ary

6505288

In [20]:
sum([int(l) for l in ary[1:]]) / len(ary[1:])

650.5288

## 答案三

In [27]:
ary = []
with open('/Users/davidchiu/Desktop/customer_data.tsv', 'r') as f:
    for l in f.readlines()[1:]:
        #print(l.strip())
        surname = l.strip().split('\t')[2]
        HasCrCard = l.strip().split('\t')[9]
        if surname.startswith('H') and HasCrCard == '1':
            ary.append(l.strip().split('\t'))
        
len(ary)

463

## 答案四

In [34]:
ary = []
with open('/Users/davidchiu/Desktop/customer_data.tsv', 'r') as f:
    for l in f.readlines()[1:]:
        Exited = l.strip().split('\t')[-1]
        ary.append(Exited)
        
ary.count('1') / len(ary)

0.2037

## 答案五

In [38]:
ary = []
with open('/Users/davidchiu/Desktop/customer_data.tsv', 'r') as f:
    for l in f.readlines()[1:]:
        Gender = l.strip().split('\t')[4]
        EstimatedSalary = l.strip().split('\t')[-2]
        ary.append((Gender, EstimatedSalary) )
#ary

In [42]:
dic = {}
for rec in ary:
    if rec[0] not in dic:
        dic[rec[0]] = [float(rec[1])]
    else:
        dic[rec[0]].append(float(rec[1]))

100601.54138234648

In [43]:
sum(dic['Female']) / len(dic['Female'])

100601.54138234648

In [44]:
sum(dic['Male']) / len(dic['Male'])

99664.57693054806

## 答案一 (使用Pandas)

In [45]:
import pandas
df = pandas.read_csv('https://github.com/ywchiu/cathaylifepy/raw/master/data/customer_data.tsv', sep = '\t')

In [46]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Female,43,2,125510.82,1,1,1,79084.10,0

In [47]:
len(df)

10000

## 答案二 (使用Pandas)

In [50]:
df['CreditScore'].mean()

650.5288

## 答案三 (使用Pandas)

In [54]:
len(df[df['Surname'].str.startswith('H') & df['HasCrCard'] == 1])

463

## 答案四 (使用Pandas)

In [60]:
#df['Exited'] == 1

In [58]:
(df['Exited'] == 1).sum() / len(df)

0.2037

## 答案五 (使用Pandas)

In [62]:
# SELECT gender, AVG(EstimatedSalary) FROM df GROUP BY gender;
df.groupby('Gender')['EstimatedSalary'].mean()

Gender
Female    100601.541382
Male       99664.576931
Name: EstimatedSalary, dtype: float64